.canvascapture-control {
  transition: color 1.5s ease;
  transition: background-color 0.5s ease;
  font-size: 30px;
  color: gray;
  padding: 5px;
  text-align: center;
  background: rgba(50, 50, 50, .3);
  display: inline-block;
  height: 37px;
  width: 40px;
  position: relative;
  left: -41px;
  top: -11px;
  text-decoration: none;
}

.canvascapture-control:hover {
  text-decoration: none;
}

.canvascapture-ready + .canvascapture-control::before {
  content: '⨁';
}
.canvascapture-ready + .canvascapture-control:hover {
  color: red;
}


.canvascapture-sending + .canvascapture-control {
  background: rgba(150, 50, 50, .6);
} 
.canvascapture-sending + .canvascapture-control::before {
  content: '↻';
}


.canvascapture-sent + .canvascapture-control::before {
  content: '✔';
}
.canvascapture-sent + .canvascapture-control {
  color: greenyellow;
}
.canvascapture-sent + .canvascapture-control:hover::before {
  content: '⨁';
} 


.canvascapture-file-exists + .canvascapture-control::before {
  content: '✔';
}
.canvascapture-file-exists + .canvascapture-control {
  color: greenyellow;
}
